*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

figure{
    height: 500px;
    width: 400px;
    position: relative;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
}

.buttons{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    
}

.buttons__item{
    display: inline-block;
    background-color: #cd6e8a;
    color: #fff;
    padding: 2.5rem 4rem ;
    transition-property: background-color, transform;
    transition-duration: .8s;

}

.buttons__item:hover{
    background-color: rgb(224, 33, 97);
    transform: scale(1.2);
}

img{
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: -5%; */
    margin: auto;
    width: 130%;
    max-width: 400px;

    opacity: 0;
    transform: rotate(180deg) scale(.2);
    transition-property: opacity, transform;
    transition-duration: 2s;

}

img[id]:target{
    opacity: 1;
    transform: scale(1) rotate(0);
}

